anndata==0.11.4
array-api-compat==1.12.0
asgiref==3.8.1
asttokens==3.0.0
black==25.1.0
click==8.2.1
colorama==0.4.6
decorator==5.2.1
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
requests==2.32.3
executing==2.2.0
FlowIO==1.4.0
gunicorn==23.0.0
h5py==3.14.0
ipdb==0.13.13
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
mypy_extensions==1.1.0
natsort==8.4.0
numpy==2.3.0
packaging==25.0
pandas==2.3.0
parso==0.8.4
pathspec==0.12.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
pure_eval==0.2.3
Pygments==2.19.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
readfcs==2.0.1
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.2
wcwidth==0.2.13
wheel==0.45.1
pyarrow==24.0.0
