asgiref==3.5.2
astroid==2.12.10
asttokens==2.0.8
backcall==0.2.0
black==22.8.0
click==8.1.3
colorama==0.4.5
comm==0.1.4
debugpy==1.6.8
decorator==5.1.1
dill==0.3.5.1
Django==4.0.5
djangorestframework==3.14.0
executing==0.10.0
ipdb==0.13.9
ipykernel==6.25.0
ipython==8.14.0
isort==5.10.1
jedi==0.18.1
jupyter_client==8.3.0
jupyter_core==5.3.1
lazy-object-proxy==1.7.1
matplotlib-inline==0.1.3
mccabe==0.7.0
mypy-extensions==0.4.3
nest-asyncio==1.5.7
numpy==1.25.2
packaging==23.1
pandas==2.1.0
parso==0.8.3
pathspec==0.9.0
pickleshare==0.7.5
platformdirs==2.5.2
prompt-toolkit==3.0.30
psutil==5.9.5
pure-eval==0.2.2
Pygments==2.13.0
pylint==2.15.3
python-dateutil==2.8.2
pytz==2022.1
pywin32==306
pyzmq==25.1.0
six==1.16.0
sqlparse==0.4.2
stack-data==0.4.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
tornado==6.3.2
traitlets==5.9.0
tzdata==2022.1
ujson==5.4.0
wcwidth==0.2.5
wrapt==1.14.1
